3x 50pc RGB LED lights
http://www.ebay.com/itm/50pc-12mm-Diffused-RGB-LED-Pixels-5V-WS2801-Drivers-Waterproof-Addressable-Color-/150889364507?pt=LH_DefaultDomain_0&hash=item2321b4fc1b

2x AC/DC Power Supply, 1 Output, 5.25 W, 5.25 V, 1 A
http://www.newark.com/adafruit-industries/501/usb-port-power-supply-ac-adapter/dp/44W4932?Ntt=44W4932

2x AC/DC Power Supply, Switch Mode, 1 Output, 10 W, 5 V, 2 A
http://www.newark.com/triad-magnetics/wsu050-2000-r/ac-dc-conv-external-plug-in-1-o/dp/83T4303?Ntt=83T4303

2x USB to Micro USB cables
http://www.newark.com/pro-signal/hk-us10-1/cable-usb2-0-a-male-to-micro-usb/dp/89T8738?Ntt=89T8738

2x DC Power Pigtail Female Plug
https://www.monoprice.com/Product?c_id=110&cp_id=11009&cs_id=1100903&p_id=6881&seq=1&format=2

2x 4GB+ SD Cards
https://www.amazon.com/SanDisk-Flash-Memory-SDSDB-016G-Change/dp/B001W1BSM0

1x Raspberry Pi 3 with case
https://www.amazon.com/Raspberry-Model-Clear-Transparent-Heatsinks/dp/B01N9YSKEU/ref=sr_1_3?ie=UTF8&qid=1499134580&sr=8-3&keywords=raspberry+pi+3+with+case\

2x Ultra-Mini USB Wireless Lan 802.11N Adapter

2x 6 Outlet Slim Power Surge Protector

4x 6ft Power Extension Cord

4x Outlet

4x Outlet Box

4x Outlet Wall Plate

2x 34" by 40", <= 1/4" Non-Tempered Glass Pane
